$primary: linear-gradient(
  to bottom right,
  rgba(4, 236, 248, 0.467),
  rgb(65, 239, 155),
  rgb(115, 237, 184)
);

.antLogo{
    width: 3rem;
    height: 3rem;
    color: white;
    border: 2px solid rgba(47, 43, 43, 0.4);
    padding: .7rem;
    border-radius: 25%;
    background: $primary;

}
